@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Reset */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Basis-Hintergrund – steuerbar über Klasse */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}
